// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-sidebar{
	
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #616161, #9bc5c3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #616161, #9bc5c3); 
}
.list-menu{ 
	
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #616161, #9bc5c3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #616161, #9bc5c3); 
  color: #fff;
	
}
.content-md{
  background-color:#f1f1f1 ;
}